/* 
    Created on : Sep 29, 2019, 4:13:28 PM
    Author     : Duc Tho Tran
*/

@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

* {
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
	font-size: 14px;
}

*:focus {
	outline-color: #d41676;
}

a {
	text-decoration: none;
}

ul {
	padding: 0px;
}

li {
	list-style-type: none;
}

body {
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Press Start 2P', cursive;
}

.banner {
	transition: all 1s;
}

.banner:hover {
    color: #362bcc;
}

.nav {
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
}

.nav-item {
	color: #898989;
	font-family: 'Open Sans', sans-serif;
}

.nav-item:hover {
	color: #fdd42a;
}

.nav-item.active {
	color:#ed1c24;
}

/* CONSTANT TEXT */
.text-center {
	text-align: center;
}

.text-bold {
	font-weight: bold;
}

.ls-10 {
	letter-spacing: 10px;
}

.text-14 {
	font-size: 14px;
}

.text-20 {
	font-size: 20px;
}

.upper-case {
	text-transform: uppercase;
}

.text-gray {
	color: #898989;
}

/* CONSTANT MARGIN */
.my-4 {
	margin-top: 4px;
	margin-bottom: 4px;
}

.my-20 {
	margin-top: 20px;
	margin-bottom: 20px;
}

.my-40 {
	margin-top: 40px;
	margin-bottom: 40px;
}

.mt-40 {
	margin-top: 40px;
}
/* CONSTANT PADDING */
.p-8 {
	padding: 8px;
}

.p-10 {
	padding: 10px;
}

.p-20 {
	padding: 20px;
}

.py-40 {
	padding-top: 40px;
	padding-bottom: 40px;
}

.py-20 {
	padding-top: 20px;
	padding-bottom: 20px;
}

/* CONSTANT FLEX */
.flex {
	display: flex;
}

.flex-row {
	flex-direction: row;
}

.flex-col {
	flex-direction: column;
}

.flex-1 {
	flex: 1;
}

/* OTHER */
.transition {
	transition: all 0.2s ease;
}

.select-none {
	user-select: none;
}
.cursor-pointer {
	cursor: pointer;
}

.hidden {
	display: none !important;
}
