body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f1f1f1;
}

.container {
    background-color: #fff;
}

.login_form {
    width: 400px;
}

.login_form input {
    margin-bottom: 8px;
}
